{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>ShortDescription</th>
                <th>LongDescription</th>
                <th>PathPicture</th>
                <th>OrderInList</th>
                <th>IsVisible</th>
                <th>DatePublished</th>
                <th>CorpsService</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.shortDescription }}</td>
                <td>{{ service.longDescription }}</td>
                <td>{{ service.pathPicture }}</td>
                <td>{{ service.orderInList }}</td>
                <td>{{ service.isVisible ? 'Yes' : 'No' }}</td>
                <td>{{ service.datePublished ? service.datePublished|date('Y-m-d') : '' }}</td>
                <td>{{ service.corpsService }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_new') }}">Create new</a>
{% endblock %}
