
{% extends 'base.html.twig' %}





{% block title %}Espace Adhérent{% endblock %}
{%   set adherant = app.user.adherants[0] %}


{% block menu_espace %}
    <ul id="menu-espaces" class="sf-menu" xmlns:https="http://www.w3.org/1999/xhtml"
        xmlns:https="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
        <li id="menu-item-2869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2869">
            <a href="{{ path('adherant_profil') }}"  class="btn btn-default">
                Mon profil
            </a>
        </li>


        <li id="menu-item-2869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2869">
            <a href="{{ path('demande_new') }}"  class="btn btn-default">
                Analyse de devis
            </a>
        </li>
        <li id="menu-item-2869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2869">
            <a href="{{ path('adherant_show', {'id': adherant.id }) }}"  class="btn btn-default">
                Médecins
            </a>
        </li>

        <li id="menu-item-2869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2869">
            <a href="{{ path('adherant_show', {'id': adherant.id }) }}"  class="btn btn-default">
                F.A.Q
            </a>
        </li>
        <li id="menu-item-2871" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2871">
            <a href="{{ path('app_logout') }}"><span>Logout</span></a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluuid ">
        <div class="_formulaire_map" style="margin-bottom: 22px;">
            <div class="row" style="padding-bottom: 25px;padding-left: 10%;padding-right: 10%;padding-top: 25px;background-color: #00a8cdc2; color: #fff;">
                <div class="col-12">
                    <h3>Bienvenue {{ adherant.lastname ~ ' ' ~ adherant.firstname }} !</h3>
                    <small>Vos coordonnées personnelles</small>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluuid">
        <div class="row">
            <div class="col-12 wpb_wrapper p-xl-5">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <span>
                            <img class="doc-icon" src="/public/uploads/cartesoinclair/{{  adherant.cartesoinclair }}" width="250">
                        </span>
                    </div>
                    <div class="p-4 col-lg-5 col-md-5">
                        <table class="table no-border">

                            <tbody><tr>
                                <th width="40%">Nom</th>
                                <td>{{ adherant.lastname }}</td>
                            </tr>

                            <tr>
                                <th width="40%">Prénom</th>
                                <td width="60%">{{ adherant.firstname }}</td>
                            </tr>
                            <tr>
                                <th width="40%">N° Carte Soin Clare</th>
                                <td width="60%">{{ adherant.numerosoinclair }}</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class=" col-lg-5 col-md-5 justify-content-center d-flex align-items-center">
                            <span style="margin:5px;">
                                <a href="" class="btn btn-primary">Modifier votre profile</a>
                            </span>
                        <span style="margin:5px;">
                                <a href="" class="btn btn-success">Réinitialisé votre mot de passe</a>
                            </span>
                        <span style="margin:5px;">
                                <a href="" class="btn btn-warning">Modifier votre profile</a>
                            </span>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="container-fluuid">
        <div class="row" >
            <div class="col-12">


                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ demande.id }}</td>
                    </tr>
                    <tr>
                        <th>Fichierjoint</th>
                        <td>{{ demande.fichierjoint }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ demande.title }}</td>
                    </tr>
                    <tr>
                        <th>Datecreation</th>
                        <td>{{ demande.datecreation ? demande.datecreation|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{ demande.message }}</td>
                    </tr>
                    <tr>
                        <th>Istraite</th>
                        <td>{{ demande.istraite ? 'Yes' : 'No' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('demande_index') }}">back to list</a>

                <a href="{{ path('demande_edit', {'id': demande.id}) }}">edit</a>

                {{ include('demande/_delete_form.html.twig') }}

            </div>
        </div>
    </div>


    <div class="container-fluuid _content-background">
        <div class="row">
            <div class="col-12 _content-header">
                <h4>
                    Faites analyser votre devis par des professionnels!<br/>
                    Envoyez vos questions et votre devis par
                    <a href="mailto:Contact@soinclair.ma">mail</a> ou sur
                    <a href="https://api.whatsapp.com/send?phone=212662790345" target="_blank" style="color:#2db742 !important;">Whatsapp</a>
                </h4>
                <small>
                    Besoin d’aide ?
                    <br/>Contactez nous sur 06 66 24 87 72 ou par mail Contact@soinclair.ma
                </small>
            </div>
        </div>
    </div>

{% endblock %}
{% block body %}{% endblock %}