{% extends 'base.html.twig' %}

{% block title %}Espace Employeur{% endblock %}
{%  set employeur = app.user.employeurs[0] %}


{% block menu_espace %}
    <ul id="menu-espaces" class="sf-menu" xmlns:https="http://www.w3.org/1999/xhtml"
        xmlns:https="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
        <li id="menu-item-2869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2869">
            <a href="{{ path('employeur_show', {'id': employeur.id }) }}"  class="btn btn-default">
                Profil
            </a>
        </li>

        <li id="menu-item-2869" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2869">
            <a href="{{ path('employeur_show', {'id': employeur.id }) }}"  class="btn btn-default">
                Change Mot de passe
            </a>
        </li>
        <li id="menu-item-2871" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2871">
            <a href="{{ path('app_logout') }}"><span>Logout</span></a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluuid _content-background">
        <div class="row">
            <div class="col-12 _content-header">
                <h3>Bienvenue dans votre espace Employeur !</h3>
            </div>
        </div>
    </div>

    <div class="container-fluuid ">
        <div class="_formulaire_map" style="margin-bottom: 22px;">
            <div class="row" style="padding-bottom: 25px;padding-left: 10%;padding-right: 10%;padding-top: 25px;background-color: #00a8cdc2; color: #fff;">
                <div class="col-12">
                    <h3>Bienvenue {{ employeur.entreprise }} !</h3>
                    <small>Vos coordonnées personnelles</small>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluuid">
        <div class="row">
            <div class="col-12 row wpb_wrapper p-xl-5">
                <div class="col-lg-3 col-md-3">
                    <span>
                        <img class="doc-icon" src="/uploads/employeur/logos/{{  employeur.logo }}" width="250">
                    </span>
                </div>
                <div class="col-lg-5 col-md-5">
                    <p>Carte Soin clair - Durée de Validité</p>
                    <table class="table no-border">
                        <tr>
                            <th>Inscription date</th>
                            <td>
                                <span> {{  employeur.subscriptiondate | date }}</span>
                            </td>
                        </tr>

                        <tr>
                            <th>Expiration date</th>
                            <td>
                                <span> {{  employeur.expiringdate | date }}</span>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6  wpb_wrapper p-xl-5">
                <h3>Effectif de personnel actualisé</h3>
                <span>NaN</span>
            </div>
            <div class="col-6  wpb_wrapper p-xl-5">
                <h4>Documents</h4>
                <table class="table no-border">
                    <tr>
                        <th>DB du personnel</th>
                        <td>
                            <a href="/uploads/employeur/fichiers_employeur/{{  employeur.databaseemployees }}"><i class="fa fa-download"></i>  </a>
                        </td>
                    </tr>

                    <tr>
                        <th>Contrat d'assurance</th>
                        <td>
                            <a href="/uploads/employeur/contrat_assurance/{{  employeur.assurancecontract }}"><i class="fa fa-download"></i>  </a>

                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row">
        </div>
    </div>
    <div class="container-fluuid">
        <div class="row">
            <div class="col-12  wpb_wrapper p-xl-5">
            </div>
        </div>
    </div>

{% endblock %}
{% block body %}{% endblock %}